#feature .heading {
	position: relative;
	margin-bottom: 3rem;
}

#feature .heading .sticker {
	left: -36px;
	bottom: -36px;
	position: absolute;
	transform: rotate(-15deg);
}

#feature .feature-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 800px;
}
#feature .feature-wrapper-wide {
	max-width: 900px;
}
#feature .feature-wrapper .feature-row {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	justify-content: center;
	gap: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

#feature .feature-wrapper .feature-row .feature-item {
	width: 160px;
	height: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 1.8rem;
	font-family: var(--font-absolute);
	padding: 1rem 2rem;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 22px;
}
