#hero {
	padding: 1rem;
	position: relative;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	color: #ffffff;
	background-color: transparent;
}

#hero .effect-left {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	border: 100%;
	background: #c475f4;
	z-index: 0;
	filter: blur(200px);
}

#hero .effect-right {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 200px;
	height: 200px;
	border: 100%;
	background: #c475f4;
	z-index: 0;
	filter: blur(200px);
}

#hero .hero-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	color: #ffffff;
}

#hero .heading {
	font-size: 2.6rem;
	line-height: 1;
	margin-bottom: 1rem;
}

#hero .subheading {
	font-size: 2rem;
	margin-bottom: 1rem;
	font-family: var(--font-absolute);
}

#hero .cta-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
#hero .button-cta {
	padding: 0;
	background: none;
	-webkit-clip-path: circle(40% at 50% 50%);
	clip-path: circle(40% at 50% 50%);
	position: relative;
	cursor: pointer;
}

#hero .arrow {
	position: absolute;
	fill: rgb(255, 248, 248);
	width: 40px;
	height: 40px;
	top: 35%;
	left: 40%;
	transition: 0.5s ease-in-out;
	animation: scroll-down 2s ease-in-out infinite;
}

@keyframes scroll-down {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}

#hero .textcircle {
	position: relative;
	display: block;
	width: 200px;
	animation: rotate 10s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#hero .textcircle text {
	font-size: 2rem;
	font-family: var(--font-monument);
	text-transform: uppercase;
	fill: var(--color-primary);
}

#hero .textcircle textPath {
	letter-spacing: 17px; /* Firefox needs this */
}

@media (max-width: 768px) {
	#hero .heading {
		font-size: 1.2rem;
		text-align: center;
	}

	#hero .cta {
		width: 250px;
		margin: 2rem auto;
		text-align: center;
		padding: 1rem;
	}
}
