#work .heading {
	text-align: center;
	margin-bottom: 6rem;
	position: relative;
}

#work .sticker {
	position: absolute;
	top: 1rem;
	text-align: center;
	width: 100%;
}

#work .projects-container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
	gap: 2rem;
	align-items: stretch;
	justify-content: center;
	justify-items: center;
	margin: 0 auto;
	margin-bottom: 3rem;
}

#work .projects-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	width: 360px;
	max-height: 460px;
	padding: 1rem;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 1rem;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
}

#work .projects-card * {
	transition: all 0.3s ease-out;
}

#work .image-wrapper {
	overflow: hidden;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

#work .image-wrapper img {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	object-fit: cover;
	transform: scale(1.2);
}

#work .sub-title {
	display: block;
	margin-bottom: 0.5rem;
}

#work .content-wrapper {
	overflow: hidden;
	visibility: hidden;
	height: 0;
}

#work .btn-text {
	display: block;
	margin: 0.5rem 0;
	font-family: var(--font-monument);
	color: var(--color-primary);
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}
#work .projects-card:hover {
	border-color: var(--color-white);
}
#work .projects-card:hover .title {
	margin-bottom: 1rem;
	color: var(--color-primary);
	text-shadow: 0px 10px 40px rgba(165, 76, 255, 0.9);
}
#work .projects-card:hover .content-wrapper {
	visibility: visible;
	height: 150px;
}
#work .projects-card:hover .image-wrapper {
	border-radius: 1.5rem;
}
#work .projects-card:hover .image-wrapper img {
	transform: scale(1);
	border-radius: 1.5rem;
}

@media screen and (max-width: 800px) {
	#work .sticker {
		font-size: 2rem;
		top: 2.2rem;
	}

	#work .projects-card {
		flex-direction: column;
	}
	#work .projects-container {
		grid-template-columns: 1fr;
		padding: 1rem;
	}
}

/* mobile screen */
@media screen and (max-width: 480px) {
	#work .projects-container {
		grid-template-columns: 1fr;
		padding: 0;
	}

	#work .sticker {
		font-size: 1.5rem;
		top: 2.8rem;
	}

	#work .projects-card {
		width: 100%;
		margin: 0 auto;
	}

	#work .image-wrapper {
		height: 220px;
	}

	#work .projects-btn {
		width: 100%;
		margin: 0 auto;
	}

	/* rmeove all hover effect */
	#work .projects-card:hover {
		width: 100%;
		background-color: transparent;
		border-color: var(--color-white);
		color: var(--color-white);
		box-shadow: none;
	}

	#work .projects-card:hover .projects-btn {
		width: 100%;
		background-color: var(--color-white);
		color: var(--color-black);
	}

	#work .projects-card:hover .image-wrapper {
		width: 100%;
		border-color: var(--color-white);
	}

	#work .image-wrapper img {
		width: 100%;
		height: 100%;
	}

	#work .projects-btn {
		width: 100%;
	}
	#work .projects-card:hover .content-wrapper {
		visibility: visible;
		height: auto;
	}
}
