#mentor {
	min-height: 100vh;
	padding: 4rem 0;
}

#mentor .marquee-container-normal {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1rem;
	gap: 1rem;
}

#mentor .mentor-ribbon-normal {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;
	transform: rotate(-2deg);
}

#mentor .mentor-ribbon-filled {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;
	transform: rotate(2deg);
	background-color: #fff;
	color: #000;
}
#mentor .marquee-container-filled {
	display: flex;
	align-items: center;
	padding: 0.5rem 0;
	margin-right: 1rem;
	gap: 1rem;
}

#mentor .mentor-wrapper {
	margin: 2rem 0 4rem 0;
}

#mentor .mentor-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 4rem;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#mentor .heading {
	text-align: center;
	margin-bottom: 4rem;
}

#mentor .mentor-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#mentor .mentor-card-image img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-bottom: 1rem;
	object-fit: cover;
}

#mentor .mentor-card-content .text-primary {
	font-family: var(--font-absolute);
	font-size: 2rem;
	font-weight: 600;
}

@media screen and (max-width: 768px) {
	#mentor .mentor-container {
		text-align: center;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}
	#mentor .mentor-container .title {
		font-size: 1.5rem;
	}
	#mentor .mentor-card {
		margin: 0;
	}
	#mentor .mentor-card-image img {
		width: 100px;
		height: 100px;
	}

	#mentor .mentor-card-content .text-primary {
		font-size: 1.5rem;
	}
}
