#blogs {
	width: 100%;
	margin: 0 auto;
}
#blogs .heading {
	font-family: var(--font-reslindale);
	margin-bottom: 6rem;
	position: relative;
}

#blogs .sticker {
	position: absolute;
	top: 0.4rem;
	left: 0;
	width: 100%;
	height: 100%;
}

#blogs .blogs-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
}

#blogs .blogs-card {
	width: 100%;
	display: grid;
	grid-template-columns: 40% 60%;
	gap: 1rem;
	align-items: center;
	justify-items: center;
	border: 2px solid rgba(255, 255, 255, 0);
	background: rgba(255, 255, 255, 0.1);
	border-radius: 1rem;
	padding: 1.5rem;
	margin-bottom: 1rem;
	transition: all 0.5s ease;
	cursor: pointer;
}

#blogs .blogs-card:hover {
	background: rgba(255, 255, 255, 0.2);
	grid-template-columns: 45% 55%;
}
#blogs .blogs-thumbnail-wrapper {
	width: 100%;
	height: 100%;
	height: 260px;
}
#blogs .blogs-thumbnail {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 1rem;
}

#blogs .blogs-card.active {
	border: 2px solid var(--color-primary);
}

#blogs .blogs-card .blogs-card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#blogs .blogs-card:last-child {
	margin-bottom: 0;
}

#blogs .blogs-arrow {
	width: 20px;
	height: 20px;
}

#blogs .blogs-card-body {
	margin-top: 1rem;
	text-align: left;
	opacity: 0.6;
}

#blogs .blogs-title {
	margin-bottom: 1rem;
}

#blogs .view-more {
	font-family: var(--font-monument);
	letter-spacing: 0.08em;
	cursor: pointer;
}

@media (max-width: 768px) {
	#blogs .blogs-card {
		grid-template-columns: 1fr;
		width: 100%;
		max-width: 100%;
		padding: 1rem;
	}

	#blogs .blogs-card:hover {
		background: rgba(255, 255, 255, 0.1);
		grid-template-columns: 1fr;
	}

	#blogs .blogs-title {
		font-size: 1rem;
	}

	#blogs .sticker {
		top: 2rem;
	}

	#blogs .blogs-thumbnail-wrapper {
		height: 200px;
	}
}
