#footer {
	font-family: var(--font-reslindale);
	background: linear-gradient(
			180deg,
			rgba(196, 117, 244, 0),
			rgba(196, 117, 244, 0.24)
		),
		#120e14;
	width: 100%;
	padding: 3rem 0;

	margin-top: 4rem;
}
#footer .logo {
	position: relative;
	width: 284px;
	flex-shrink: 0;
	object-fit: cover;
}
#footer .footer-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 71px;
	justify-content: center;
	margin-bottom: 2rem;
}

#footer .social-icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	width: 460px;
	height: 160px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	margin: 0 auto 2rem auto;
}

#footer .icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

#footer .icon-wrapper img {
	transition: all 0.4s ease-in-out;
}

#footer .icon-wrapper img:hover {
	transform: scale(1.1);
	/* back drop shadow */
	filter: drop-shadow(0 0 1rem rgba(195, 117, 244, 0.5));
}

#footer .username {
	margin: 0;
}

#footer .container-sm {
	margin: 0 auto;
	text-align: center;
}

#footer .footer-text {
	margin-bottom: 2rem;
}

@media (max-width: 768px) {
	#footer .footer-header {
		flex-direction: column;
		gap: 1rem;
	}
	#footer .logo {
		width: 200px;
		margin-bottom: 2rem;
	}
	#footer .social-icon-wrapper {
		margin-bottom: 2rem;
	}
}
