#footer {
	font-family: var(--font-reslindale);
	background: linear-gradient(
			180deg,
			rgba(196, 117, 244, 0),
			rgba(196, 117, 244, 0.24)
		),
		#120e14;
	width: 100%;
	padding: 3rem 0;

	margin-top: 4rem;
}
#footer .logo {
	position: relative;
	width: 284px;
	flex-shrink: 0;
	object-fit: cover;
}
#footer .footer-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 71px;
	justify-content: center;
	margin-bottom: 2rem;
}

#footer .social-icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px 50px;
	width: 290px;
	height: 250px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	margin: 0 auto 2rem auto;
}

#footer .icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1.5rem;
}

#footer .username {
	margin-bottom: 0.8rem;
}

#footer .container-sm {
	margin: 0 auto;
	text-align: center;
}

@media (max-width: 768px) {
	#footer .footer-header {
		flex-direction: column;
		gap: 1rem;
	}
	#footer .logo {
		margin-bottom: 2rem;
	}
	#footer .social-icon-wrapper {
		margin-bottom: 2rem;
	}
}
