@font-face {
	font-family: 'Monument Extended';
	src: url('./assets/fonts/MonumentExtended.woff') format('woff');
}
@font-face {
	font-family: 'Roslindale Text';
	src: url('./assets/fonts/RoslindaleText.woff') format('woff');
}

@font-face {
	font-family: 'The Absolute';
	src: url('./assets/fonts/TheAbsolute.woff') format('woff');
}
